.register{
    border: px solid;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 600px;
}

form{
    background-color:  #fff;
    border: 2px solid;
    padding: 5%;
    border-radius: 8%;
    font-size: xx-large;
    font-weight: 900;
    height: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0036e6;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    font-size: x-large;
}

@media (max-width:650px) {
    .register{
        display: flex;
        justify-content:baseline;
        align-items:baseline;

    }
}

input{
    height: 45px;
    width: auto;
}

#checkbox{
    width: 30px;
}

body{
    background-image: url(pic\ for\ bkd.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form{
    background: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(25px);
}

input[type="text"],
input[type="password"]{
    width: 100%;
    font-size: 18px;
    border: 3px solid ;
}

